### Android ###
/*.iml
/.gradle/
/local.properties
/.idea/
/captures/
/outputs/
/caches/
/build/
/app/build/
/gradle/
/release/
/captures
*.log

### Gradle ###
.gradle/
build/
!gradle-wrapper.jar
gradle-app.setting

### IntelliJ / Android Studio ###
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml

### Kotlin ###
*.kotlin_metadata
*.kotlin_module

### Signing + Secure ###
*.jks
*.keystore
keystore.properties

### Generated ###
captures/
.navigation/
out/
generated/

### OS Crap ###
.DS_Store
Thumbs.db

keystore.properties
*.jks
*.keystore
.compose-cache/
google-services.json
GoogleService-Info.plist